@facephi:registry=https://facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:_password=Y21WbWRHdHVPakF4T2pBd01EQXdNREF3TURBNmJYcHFhVXhtWVVOUFlrSkZSRVpVWkRONlNEQjBUbHB6Tm5Wbw==
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:username=movilmaxgt01
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:email=movilmaxgt01@facephi.com
//facephicorp.jfrog.io/artifactory/api/npm/sdk-web-fphi/:always-auth=true
